.App {
  text-align: center;
}
.wrapper{
  text-align:center;
  margin:0 auto;
  vertical-align: middle;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logoReact-logo{
  
  width: 10vw;
}

/* InputForm */
.wrapperInput{
  text-Align:center;
  margin:0 auto;
  width:45vw;
  background-color:#222;
  vertical-align: middle;
  padding: 2vh 0px;
  min-width:250px;
  max-width:350px;
}

.divInput{
  width:50%;
  display:inline-block;
  vertical-align: middle;
}
.divInput input{
  width:90%;
  margin-bottom: 1%;
}
.divLogo{
  width: 30%;
  display:inline-block;
  vertical-align: middle;

}
.logoInput{
  width:90%;
}
.buttonInput{
  display:inline-block;
  width:30%;
  color:rgba(255, 255, 255, 0.841);
  background-color:#189eb2cf;
  border-radius:5%;
  min-width:100px;
  
  vertical-align: middle;
}
.buttonInput a{
  margin:calc(20px + 1vw);
}


/* --------- */

/*Animation*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

